body {
  font-family: Arial, Sans-Serif;
  background: #f4f4f4;
  padding: 20px;
  text-align: justify;
}
  
.container{
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.h1, h2 {
  margin-top: 20px;
}

.box{
  width: 200px;
  padding: 10px;
  border: 4px solid #4f8cff;
  margin: 10px 0 6 8;
  background: #e6f0ff;
}

.float-img{
  float: right;
  width: 140px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}